<h1 class="city">{{forecast.cityName}}</h1>
<div class="wrapper">
  <div class="forecast" *ngFor="let dayWeather of forecast">
    <div class="day">
      <h2 class="date" style="color: #ea4335">{{dayWeather.date | date: 'MMMMd'}}</h2>
      <h2 class="description" style="color: chocolate">{{dayWeather.description}}</h2>
      <h3 class="tempM" style="color: coral">{{dayWeather.temp}}&deg;</h3>
    </div>
  </div>
</div>
<form class="lookCity" [formGroup]="forecastForm" (ngSubmit)="onSubmit()">
  <input type="text" class="cityName" formControlName="forecastCity" placeholder="Name of city">
  <button class="btn">go</button>
</form>
