<div class="calorie">
<h2>Nutri App Sign up Form</h2>
<div class="container" id="container">

  <div class="form-container sign-in-container">
      <div class="form">
      <h1>Sign Up</h1>
      <div class="social-container">

      </div>

      <input type="text" class="form-control" placeholder="Your Full Name" [(ngModel)]="fullname" />
      <input type="text" class="form-control" placeholder="Your UserID*"  [(ngModel)]="setname"/>
      <input type="password" class="form-control" placeholder="Your Password" [(ngModel)]="setpassword" />
      <input type="password" class="form-control" placeholder="Confirm Password *" [(ngModel)]="recheckpassword"/>
      <button type="button" class="btnSubmit" (click)="report()">Submit</button>
      <a routerLink="/login" style="color: aliceblue"><i>login</i></a>
      </div>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp"><a routerLink="/search">Search Calorie</a> </button>
      </div>
    </div>
  </div>
</div>
</div>

